name: lint
on: [pull_request]
jobs:
    lint-frontend:
        name: lint / frontend
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
            - run: npm ci --workspace=frontend
            - run: npm run lint --workspace=frontend
    lint-olympus-bg:
        name: lint / olympus-bg
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
            - run: npm ci --workspace=olympus-bg
            - run: npm run lint --workspace=olympus-bg
